/* Small/Phone View ***************/
h1, h2, h3, h4 {
    /* font-family: 'Playfair Display SC', serif; */
    font-family: 'Poppins', sans-serif;
}

p {
    font-family: 'Questrial', serif;
}

header {
    background-color: #011936;
    color: #FFD046;
    /* font-family: 'Playfair Display SC', serif; */
    font-family: 'Poppins', sans-serif;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 900px;
    margin: 0 auto;
    border-bottom: 1px solid #bbb;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

.logo img {
    width: 80px;
    height: auto;
}

.headings {
    display: flex;
    flex-direction: column;
    margin-left: .5rem;
}

.headings h1 {
    font-size: 1.3rem;
}

.sub-head {
    letter-spacing: 1pt;
    color: white;
    font-weight: 700;
    font-size: 0.8rem;
    margin-top: -15px;
}

#currentDate {
    color: white;
    font-size: 0.8rem;
}

.social {
    margin-left: 2.5rem;
}

.social svg { 
    width: 25px;
    height: auto;
}

nav {
	margin: 0 auto;
	max-width: 760px;
	background-color: #960200;
    color: #FFD046;
}

.navigation {
	list-style: none;
	padding: 0;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: #FFD046;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}

.navigation a.ham::before {
	content: "☰ ";
}

.navigation a:hover {
    background-color: whitesmoke;
    color: #960200;
    padding: 5px;
}

/* .toggle-btn {
    padding: 1em;
} */

/* the onclick JS toggles the .reponsive class from display none (.navigation li) to display block because the responsive class is added to the end of the class list like this in HTML.
  <ul class="navigation responsive">
*/
.responsive li {
	display: block;
}

.responsive a.ham::before {
	content: "❌ ";
}

/* MAIN SECTION */
#head-banner {
    background-color: #011936;
    color: white;
    padding: 5px;
    text-align: center;
}

main {
    max-width: 900px;
    margin: 0 auto;
    display: block;
    grid-template-columns: 1fr;
    font-size: 0.8rem;
    padding: 10px;
}

main div {
    margin: 0.5rem;
    /* border: 1px solid #bbb; 
    padding: 0 1rem; */
    background-color: #960200;
    display: block;
}

.hero-div {
    position: relative;
    background: #011936;
}

.hero-div-bottom {
    color: white;
    font-size: 0.5rem;
    text-align: center;
    padding: 3px;
}

.hero-div img{
    max-width: 100%;
    height: 100%;
}

.welcome {
    position: absolute;
    background: rgba(107, 117, 248, 0.3);
    /* background: linear-gradient(to right, #960200, #FFD046); */
    top: 40px;
    left: 20px;
    padding: 5px;
    text-align: center;
}

.welcome h1 {
    color: white;
    padding: 5px;
}

.hero-join {
    position: absolute;
    background: rgba(255, 115, 0, 0.3);
    /* background: linear-gradient(to right, #960200, #FFD046); */
    top: 145px;
    left: 140px;
    padding: 5px;
}

.hero-join button {
    color: white;
    background: linear-gradient(to right, #960200, #FFD046);
    padding: 5px;
}

.event {
    text-align: center;
    color: white;
    padding: 5px;
}

.event h1 {
    background: linear-gradient(to right, #960200, #FFD046);
}

.weather {
    color: white;
    padding: .5em;
}

.weather img {
    float: left;
    width: 30%;
    margin-top: -20px;
    margin-left: 70px;
}

.weather h1 {
    text-align: center;
}

.weather h2 {
    text-align: center;
    font-size: 2rem;
}

.weather h3 {
    text-align: center;
    border-bottom: 1px solid #FFD046;
    padding: 10px;
    margin-top: -30px;
}

.weather p {
    text-align: center;
}

/* .weather {
    color: white;
    text-align: center;
}

.weather-top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

.weather h1 {
    grid-column: 1/3;
}

.weather-top img {
    grid-column: 1;
    grid-row: 2;
    width: 75%;
    height: auto;
    left: 5px;
    margin-left: 20px;
    float: left;
}

.weather-top h2 {
    font-size: 3rem;
    top: 50px;
}

.weather-top h3 {
    grid-column: 2;
    grid-row: 3;
    bottom: 50px;
}

.weather-bottom {
    border-top: 1px dotted #FFD046;
    padding: 5px;
} */

.join {
    display: none;
}

.news {
    color: white;
    padding: 10px;
    text-align: center;
}

.spotlight {
    border: 1px solid #FFD046;
    padding: 0 1rem;
    color: white;
    text-align: center;
}

#spotlight1 {
    border: 1px solid #FFD046;
    border-collapse: separate;
    border-spacing: 10px;
    padding: 10px;
}

#spotlight1 img {
    width: 39%;
    height: auto;
}

.spotlight1-contact, .spotlight2-contact {
    border-top: 1px dotted #FFD046;
}

#spotlight2 {
    border: 1px solid #FFD046;
    border-collapse: separate;
    border-spacing: 10px;
    padding: 10px;
}

#spotlight2 img {
    width: 40%;
    height: auto;
}

#spotlight3 {
    display: none;
}

/* FOOTER SECTION */

footer {
    display: block;
    background-color: #011936;
    color: #FFD046;
    max-width: 860px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-top: 1px solid #bbb;
    text-align: center;
    padding: 1em;
    line-height: 5px;
}

.contact-info a {
    color: #FFD046;
    text-decoration: none;
}

.footer-top {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: center;
}

.footer-top img {
    width: 120px;
    height: auto;
    margin-bottom: -40px;
    margin-top: -30px;
}

.footer-bottom {
    border-top: 1px solid #960200;
}

/* DISCOVER PAGE */

.discover-main h2{
    color:#FFD046;
    text-shadow: -3px 2px black;
}

.discover-main {
    display: grid;
    grid-template-columns: minmax(min-content, max-content);
    grid-template-rows: minmax(min-content, max-content);
    max-width: 375px;
}

.discover-main h2 {
    text-align: center;
    font-size: 2rem;
}
.image-section {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    padding: 1em;
    margin: 1em auto;
    z-index: -2;
}

.image-section img[data-src] {
    filter: blur(0.5em);
}

.image-section {
    filter: blur(0em);
    opacity: 1;
    transition: all 0.7s;
    border-radius: 20px;
}

.image-section img {
    width: 100%;
    height: auto;
}

.discover-card h3, p{
    color: white;
    align-items: center;
}

/* JOIN PAGE */

form {
    font-family: 'Questrial', serif;
}

.join-main {
    /* margin: 0; */
    border: 1px solid #bbb;
    padding: 0.5rem;
    background-color: white;
}

form fieldset {
    margin: 2rem;
    border: 1px solid #011936;
    border-radius: 10px;
    padding: .5rem 2%;
}

form legend {
    background-color: #011936;
    color: white;
    font-weight: bold;
    margin: 0 1rem;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    margin-left: .5rem;
}

form label.top, form label.top textarea {
    display: block;
    padding-top: 0.5rem;
    color: #960200;
    font-size: 0.8rem;
}

form label.top input, form label.top textarea {
    -webkit-appearance: none;
    display: block;
    font-size: 0.8rem;
    /* border: solid 1px #999; */
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0,0,0,0.1);
    padding: inherit;
    height: 2rem;
}

form label.sbs {
    display: block;
    padding: .75rem 0;
    color: #960200;
}

form input.submitBtn {
    border: none;
    background-color: #960200;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 5%;
    width: 96%;
    max-width: 20rem;
    font-weight: bold;
    font-size: 1rem;
}

form label.top input:required {
    border-left: #960200 solid 6px;
}

form label.top input:required:valid {
    border-left: green solid 6px;
}

.level {
    font-weight: bolder;
}

.price {
    background-color: #011936;
    color: #FFD046;
    border-radius: 10px;
    padding: .25rem 1rem;
    margin-left: .5rem;
    font-weight: bold;
}

.description {
    display: none;
}

/* THANK YOU PAGE */

.ty-main {
    grid-template-columns: 1fr;
    padding: 4rem;
}

.ty-main h1 {
    color: #960200;
    font-size: 2rem;
}

.ty-p {
    color: black;
    font-size: 1rem;
}