h1, h2, h3, h4 {
    font-family: 'Josefin Sans', serif;
}

p {
    font-family: 'Libre Franklin', serif;
}

/* HEADER */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: #FFF7C8;
}

li {
    list-style: none;
}

a {
    color: #EE9748;
    text-decoration: none;
}

.nav-branding {
    display: flex;
    align-items: center;
    margin: 5px;
    font-family: 'Josefin Sans', serif;
    font-size: 1rem;
    text-align: center;
}

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.site-title {
    display: none;
}

.site-title-in {
    font-size: 1rem;
    display: inline-block;
    vertical-align: baseline;
}

.navmenu-logo {
    display: none;
}

.nav-menu {
    display: block;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #FFF7C8;
    width: 100%;
    text-align: center;
    transition: 0.3s;
}

.navbar-logo {
    opacity: 0;
}

.nav-item {
    margin: 16px 0;
}

.nav-menu.active {
    left: 0;
}

.nav-link {
    transition: 0.7s ease;
    font-family: 'Libre Franklin', serif;
}

.nav-link:hover {
    color: #FFCFBB;
}

.hamburger {
    display: block;
    cursor: pointer;
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #EE9748;
}

.bar-nav {
    display: block;
    width: 100px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #EE9748;
    opacity: 0.5;
}

.nav-contact:hover {
    background-color: #EE9478;
    padding: 5px;
}

/* .nav-contact .contact-content {
    position: absolute;
    top: 30px;
    right: 2px;
    width: 300px;
    background-color: #FFCFBB;
    padding: 20px;
    visibility: hidden; 
    opacity: 0;
    transition: 0.5s;
}

.nav-contact li:hover .contact-content {
    visibility: visible;
    opacity: 1;
} */

.contact-content {
    color: #EE9748;
    font-size: 0.8rem;
    display: inline;
    border-radius: 20px;
}

.fa-solid {
    color: #EE9748;
}

/* MAIN */

.responsive {
    width: 100%;
    height: auto;
}

/* Hero Section */

.hero-button {
    background-color: #EE9748;
    color: #FFF7C8;
    padding: 10px;
    font-family: 'Josefin Sans', serif;
    box-shadow: -5px 5px #FFCFBB;
    border-radius: 20px;
}

.hero {
    /* position: relative; */
    text-align: left;
}

.hero-content {
    position: absolute;
    top: 400px;
    left: 15px;
}

.hero-content h2 {
    color:#FFF7C8;
}

.hero-img {
    width: 200%;
    height: auto;
    background: rgba(0, 0, 0, 0.5);
}

/* Weather Section */

.weather {
    background-color: #EE9748;
    color:#FFF7C8;
    text-align: center;
    padding: 40px;
}

.weather h2 {
    font-family: 'Josefin Sans', serif;
    font-size: 2rem;
}

.weather p, span, div {
    font-family: 'Libre Franklin', serif;
}

.weather-value {
    padding: 20px;
    margin: 10px;
    border-style: solid;
    border-radius: 20px;
}

.future-forecast {
    padding: 20px;
    margin: 10px;
    border-style: solid;
    border-radius: 20px;
}

.future-forecast h2 {
    font-size: 1.5rem;
}

.future-forecast-item {
    padding: 10px;
}

/* Home Temple Section */

.temple-home-content {
    text-align: center;
    color:#FFF7C8;
    position: absolute;
    bottom: 150px;
    padding: 20px;
}

div.temple-home-content {
    background: rgba(80, 79, 79, 0.5);
}

.home-temple {
    position: relative;
}

.temple-home-button {
    background-color: #EE9748;
    color: #FFF7C8;
    padding: 10px;
    font-family: 'Josefin Sans', serif;
    box-shadow: -5px 5px #FFCFBB;
    border-radius: 20px;
    margin-top: 20px;
}

/* Home Temple Pics Section */

.home-temple-gallery {
    background-color: #EE9748;
}

.home-temple-gallery h2 {
    color:#FFF7C8;
    padding: 1rem;
    text-align: center;
    font-size: 2rem;
}

.home-temple-pics h2 {
    color:#FFF7C8;
    font-size: 2rem;
    text-align: center;
    padding-top: 20px;
}

.temple1, .temple2, .temple3 {
    padding: 1rem;
    background-color: #EE9748;
    display: block;
    text-align: center;
    color:#FFF7C8;
}

.temple1 h3, .temple2 h3, .temple3 h3 {
    margin-top: 20px;
    background-color: rgba(80, 79, 79, 0.5);
    padding: 20px;
}

.home-temple-pic img {
    max-width: 330px;
    border-radius: 40px;
    box-shadow: 5px 10px rgba(80, 79, 79, 0.5);
}

/* RESERVATIONS PAGE */

.reservation-main {
    background-color: #EE9748;
    color:#FFF7C8;
    padding: 20px;
}

.reservation-main form {
    max-width: 350px;
    margin: 0 auto;
    border-radius: 5px;
}

.reservation-main form fieldset {
    border-radius: 20px;
    padding: 20px;
}

.reservation-main label, option, select {
    font-family: 'Libre Franklin', serif;
}

.reservation-main legend {
    font-family: 'Josefin Sans', serif;
    font-size: 2rem;
}

.reservation-main input, select, textarea {
    width: 100%;
    padding: 10px;
}

.reservation-main form label.top {
    padding-top: 0.5rem;
}

.reservation-main form label.top input:required, .reservation-main form label.top select:required {
    border-left: #960200 solid 6px;
}

.reservation-main form label.top input:required:valid, .reservation-main form label.top select:valid {
    border-left: green solid 6px;
}

.reservation-main form fieldset legend:nth-child(2) {
    padding-top: 20px;
}

.reservation-main form fieldset {
    padding: 30px;
}

.reservation-main form fieldset legend.top {
    padding-top: 20px;
}

input[type=submit] {
    background-color: #FFF7C8;
    color:#EE9748;
    font-family: 'Josefin Sans', serif;
    font-size: 1.5rem;
    padding-top: 20px;
    margin-top: 20px;
    max-width: 350px;
    border-radius: 20px;
}

/* THANK YOU PAGE AFTER RESERVATIONS */

.thank-you-content {
    text-align: center;
    color:#FFF7C8;
    position: absolute;
    top: 250px;
    background-color: rgba(126, 124, 124, 0.3);
    padding: 20px;
    margin: 0 auto;
}
/* FOOTER */

.footer-wrapper {
    background: #FFF7C8;
    color: #EE9748;
    display: block;
    text-align: center;
    padding: 20px;
}

.footer-contacts {
    margin-top: 25px;
}

.footer-socials {
    margin-top: 25px;
}